.cleaner {
    background-color:lightgray;
    border: 4px solid white;
    border-radius: 4px;
    color: gray;
    font-family: monospace;
}

.cleaner:focus {
    outline: none;
    border: 4px solid gray;
}

.cleaner:active{
    color: black;
}

.cleaner-link {
    color: white;
    font-family: sans-serif;
}

.cleaner-link:visited {
    color: white;
}

.cleaner-link:hover {
    color: gray;
}

.cleaner-list {
    color: white;
    font-family: sans-serif;
    list-style: none;
    padding-inline-start: 0px;
}